{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center" id="desc">
  Welcome to the real challenge mode!!! </br>
   When you start, you will initially have 8 seconds to remember what is on the displayed picture.</br>
    After this time, write down what you remembered, and if you manage to answer correctly, you will move on.</br>
     With each successive correct answer the time to memorize will decrease. </br>
     To get 100% you must answer 20 samples correctly.  To check your score go to the My Results tab.</br> Good luck!!!
    </br></br>
</div>

<div id="time" class="text-center d-grid">
<button id="start-button" class="btn d-block mx-auto btn-lg start-button"> Start</button>
</div>
</div>
<div id = 'container' class='hidden'> 
{% for item in form %}
<div id='image'>
<img
  src="{{ item.img.url }}"
  name="{{item.name}}"
  class="product-image"
  alt="image"
/>
</div>
{% endfor %}
<div class="form">
  <form method="POST">
    {% csrf_token %}
    <input id="timev2" name="time" class="hidden" />
    <input id="data" name="data" class="hidden" />

    <input id="labels" name="labels" class="hidden" />

    <div class="text-center">
      <button id="submit" class="btn btn-primary d-block mx-auto btn-lg hidden">
        Results
      </button>
    </div>
  </form>

  <div class="text-center">
    <input id="answer" type="text" class="input-type" placeholder="..."/>
  </div>
</div>

<div class="text-center d-grid">
  <button id="next-button" class="btn start-button" style="width:25%; margin-top:1em">
    Next
  </button>
</div>
</div>


{% endblock %} {% block scripts %}
<script>
  const startButton = document.getElementById('start-button');
  const timev2 = document.getElementById('timev2');
  const container = document.getElementById('container');
  const images = document.querySelectorAll(".product-image");
  const nextButton = document.getElementById("next-button");
  const desc = document.getElementById("desc");
  const subbutton = document.getElementById("submit");
  const data = document.getElementById("data");
  const labels_data = document.getElementById("labels");
  const ans = document.getElementById("answer");
  let currentIndex = 0;
  let time_duration = 5000;
  const times = [8000, 7040, 6195, 5452, 4798, 4222, 3715, 3418, 3145, 
  2893, 2662, 2449, 2326, 2210, 2099, 1994, 1895, 1857, 1820, 1783]; 

  let labels = "";
  let ansver = "";
  let labels_dataxx = "";


  function showImage(index) {
    images.forEach((image) => (image.style.display = "none"));
    images[index].style.display = "block";
    labels_dataxx += "-" + images[currentIndex].name;
    ans.classList.add("hidden");
    nextButton.classList.add("hidden");
    setTimeout(() => {
      images[index].setAttribute("src", "{{ MEDIA_URL }}znak.png");
      ans.classList.remove("hidden");
      nextButton.classList.remove("hidden");
      ans.focus();
    }, times[index]);
  }

  function nextImage() {
    
    if (currentIndex < images.length) {
      if (currentIndex === images.length - 1) {
        nextButton.classList.add("hidden");
        ans.classList.add("hidden");
        subbutton.classList.remove("hidden");
      };
      
      ansver = ans.value;

      if (ansver.length > 0) {
        if(images[currentIndex].name==ansver)
        {
          currentIndex++;

          labels += "-" + ansver;
          
          ans.value = "";
          data.value = labels;
          showImage(currentIndex);
        }else{
          timev2.value = times[currentIndex];
          
          labels_data.value = labels_dataxx;
          
          if (currentIndex==0){
           desc.classList.remove("hidden");
          ans.classList.add("hidden");
          images[currentIndex].classList.add("hidden");
          nextButton.classList.add("hidden");
            desc.innerHTML = "Unfortunately, you failed.</br> You will be able to try again in a while."
            setTimeout(() => {
              subbutton.click();
            }, 9000);
          }else{
            subbutton.click();
          };

        }
        
      } 
    }
  }

  function handleButtonClick() {
    container.classList.remove("hidden");
    startButton.classList.add("hidden");
    desc.classList.add("hidden");

    nextButton.addEventListener("click", nextImage);
    answer.addEventListener("keypress", function (event) {
      if (event.key === "Enter") {
        nextButton.click();
      }
    });
    showImage(currentIndex);
  }

  startButton.addEventListener('click', handleButtonClick);
</script>
{% endblock %}
