{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
<h2>
Welcome to my website. This is an original project that I develop in my spare time.</br> </br> Version 1.01</br></br>
The whole idea of the application is to test ourselves how we do in recognizing and remembering images.
 There are currently 2 modes available. In the first we can choose the level
  of difficulty which differs in the time at which the image is displayed and their
   number is a fixed 10. In the second mode to get the maximum 100% we have to correctly 
   answer 20 samples. Only there is one catch, with each successive correct answer the display
    time is reduced :)</br></br></br>

    In the top navigation you will find links to the test. 
    In the my results tab you can see what results you are getting. If you feel like checking the 
    overall statistics of all users then go to the Statistics tab.
</h2>
{% else %}
<h2>
Welcome to my website. This is an original project that I develop in my spare time.</br> </br> Version 1.01</br></br>
The whole idea of the application is to test ourselves how we do in recognizing and remembering images.
 There are currently 2 modes available. In the first we can choose the level
  of difficulty which differs in the time at which the image is displayed and their
   number is a fixed 10. In the second mode to get the maximum 100% we have to correctly 
   answer 20 samples. Only there is one catch, with each successive correct answer the display
    time is reduced :)</br></br></br>
    If you want to try your hand the only thing you need to do is to register.
     Registration should not take more than a minute, (as long as the passwords are appropriate),
      other data required are gender, year of birth and diseases/illnesses that may affect the result,
       but this is not required.
    </h2>
{% endif %} 

{% endblock %}