html {
    overflow-y: scroll;

}

body {
    margin: 0;
    overflow: hidden;
    background: white;
    color: gray;
    font-size: large;
    font-family: 'Carter One', cursive;
  }

  
.signup{
  color: aqua;
}


.main-card{
  background: #111;
  padding: 10px;
  border-style: solid;
}
.basenav{

  color: aqua;
  font-size: larger;
  font-weight: 900;
  transition-duration: 300ms;
}
.basenav:hover{
  background-color: black;
  color: aqua;
  font-size: larger;
  font-weight: 900;
  transition-duration: 300ms;
}

  .product-image{
    display: block;
    margin: 0 auto;
    height: 300px;
  }

.btnnav{
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  }
  ul {
    list-style-type: none;
  }
.radio{

  font-size:34px;
}


.radio-buttons {
  display: flex;
  flex-direction: column;
}

.radio-buttons label {
  color: white;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 25px;
  cursor: pointer;
}

.radio-buttons input[type="radio"] {
  
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-buttons label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.radio-buttons input[type="radio"]:checked + label::before {
  background-color:white;
}

.start-button{
  width: 100%;
  background-color: aqua;
  color: black;
  font-size: larger;
  font-weight: 900;
  border-radius: 10px;
  border: 3px solid white;
  transition-duration: 300ms;
}

.start-button:hover{

  background-color: black;
  color: aqua;
  font-size: larger;
  font-weight: 900;
  border-radius: 10px;
  border: 3px solid aqua;
  transition-duration: 300ms;
  text-decoration: none;
}


#logcontainer{
  width: 40%;
  color: white;
  margin-top: 40px;
}
.input-type{
  width: 25%;
  background: aqua;
  color: black;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  border-radius: 5px;
  border: 3px solid white;
}

#desc{
  font-size: 1.2em;
  color: white;

}